html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(20,20,20);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#world {
  position: relative;
  width: 800px;
  height: 600px;
  background-color: rgb(40, 40, 40);
  border: 2px solid rgb(240, 240, 240);
  color: rgb(200, 200, 200);
  overflow: hidden; /* evita fuga da tela */
}

#player {
  position: absolute;
  top: 100px;
  left: 100px;
  font-family: monospace; /* mantém alinhamento do ASCII */
  white-space: pre;        /* respeita espaços e quebras de linha */
  line-height: 1;          /* reduz espaçamento vertical */
  text-align: center;      /* centraliza o boneco */
  cursor: default;         /* só opcional */
}

